%br

%p.unsubscribe= t("email.unsubscribe_html", link_text: t(:click_here), link_path: email_preferences_url(unsubscribe_token: @recipient.unsubscribe_token))
%img{:alt => "Aotearoa Youth Declaration", :src => "http://youthdeclaration.unyouth.org.nz/wp-content/uploads/2015/03/OFG-masterlogo2.png"}/