= '---------------------------------------------------------------------------'

= t("email.unsubscribe")
= email_preferences_url( @utm_hash.merge(unsubscribe_token: @recipient.unsubscribe_token)).html_safe
%img{:alt => "Aotearoa Youth Declaration", :src => "http://youthdeclaration.unyouth.org.nz/wp-content/uploads/2015/03/OFG-masterlogo2.png"}/